<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.pilot51.voicenotify"
	android:versionCode="6"
	android:versionName="1.0.5"
	android:installLocation="auto">
	<uses-sdk
		android:minSdkVersion="4"
		android:targetSdkVersion="8" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name">
		<activity
			android:name="MainActivity">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="AppList"
			android:configChanges="keyboardHidden|orientation">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<service
			android:name="Service">
			<intent-filter>
				<action
					android:name="android.accessibilityservice.AccessibilityService" />
			</intent-filter>
		</service>
	</application>
</manifest>