name: "Auto Build"

env:
  TAG: auto-build
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths:
      - "app/**"
      - "build.gradle.kts"
      - "gradle.properties"
      - "settings.gradle.kts"
      - "!**/.gitignore"
      - "!app/src/*[Tt]est/**"

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Create keystore files
        run: |
          mkdir -p ~/.config/.android
          echo "${{ secrets.DEBUG_KEYSTORE_BASE64 }}" | base64 -di > ~/.config/.android/debug.keystore
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -di > release.keystore
          echo "${{ secrets.KEYSTORE_PROPERTIES }}" > keystore.properties

      - name: Build
        id: build
        run: ./gradlew assemble

      - name: Delete previous pre-release
        run: gh release delete ${{ env.TAG }} --yes --cleanup-tag
        continue-on-error: true

      - name: Release
        uses: softprops/action-gh-release@v2
        if: ${{ steps.build.outcome == 'success' }}
        with:
          name: "Auto build"
          token: ${{ env.GH_TOKEN }}
          tag_name: ${{ env.TAG }}
          prerelease: true
          body: |
            Use at your own risk!

            These builds may be broken and could lose settings if installed over an existing installation. If you don't want to lose the settings in your current installation, be sure to export a backup before installing beta over it.

            Changes to the database schema during beta may cause the app to crash at launch after updating. If that happens, the workaround is to clear app data or uninstall and reinstall. Migrations are only guaranteed to work between final releases. Final -> beta should work, but beta -> beta/final may not.

            The `release` build would install over any existing release installed from GitHub or Play Store. It will fail to install over a release from F-Droid since they sign and build the APK with their own key.

            The `debug` build can be installed alongside release, leaving your settings in the release installation unaffected.

            If you have both builds installed, be sure to suspend or disable one of them to prevent notifications from being spoken twice.
          generate_release_notes: true
          files: 'app/build/outputs/apk/**/*.apk'
